{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "Scaffold a full-stack gRPC application with end-to-end type safety.",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/thetnaingtn/kirin.git"
  },
  "keywords": ["go", "cli", "gRPC", "gRPC-Web", "gRPC-Gateway", "bubbletea"],
  "license": "GPL-3.0",
  "homepage": "https://github.com/thetnaingtn/kirin?tab=readme-ov-file#kirin",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}